body{background-color: rgb(115, 140, 192);}
.container{
    background-color: #999;
}
h1{
    /*文字顏色 c */
    color: #666;
    /*文字大小 fz */
    font-size: 24px;
}
.carousel-item img {
    /*高度 h600 */
    height: 600px;
    /*物件適應 ob */
    object-fit: cover
}
footer{
    color: #fff;
    height: 100px;
    /* 行高 1h*/
    line-height: 100px;
    background-color: rgb(115, 140, 192);
}